In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.path.join("PUF_FinalCSV.csv"))
df.head()
df = df.fillna(0)

In [3]:
data = df.drop(['Q35_EMPLOYED','Q36_FULL_TIME','Q43_JOB_LIC','Q40_BUSINESS_TYPE','PUF_ID','final_weight','STRATUM1','LANG','Q39_EARNINGS','Q49_RACE_07','Q15_D_SPECIFY_FLAG','Q34_A','Q30_APP_CERT_LIC','Q31_APP_CERTIFICATE','Q34_C', 'Q29_Q29_B_R','Q29_Q29_C_R','Q29_Q29_E_R', 'Q29_Q29_A_R', 'Q38_HOURS_WORKED','Q29_Q29_D_R','Q9_CERT_LIC','Q37_WEEKS_WORKED','Q49_RACE_05', 'Q15_D_SPECIFY_FLAG'], axis=1)

In [17]:
columns = ["Q3_Q3_A_R","Q3_Q3_B_R","Q3_Q3_C_R","Q3_Q3_D_R","Q3_Q3_E_R","Q4_HIGHEST_EDU_FOS","Q9_CERT_LIC","Q45_GENDER","Q47_AGE","Q46_MARITAL_STATUS"]

In [20]:

data = df[columns]
data.head()

,Q3_Q3_A_R,Q3_Q3_B_R,Q3_Q3_C_R,Q3_Q3_D_R,Q3_Q3_E_R,Q4_HIGHEST_EDU_FOS,Q9_CERT_LIC,Q45_GENDER,Q47_AGE,Q46_MARITAL_STATUS
0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,48,1
1,0.0,0.0,0.0,0.0,0.0,1.0,1,2,50,3
2,0.0,0.0,0.0,0.0,0.0,0.0,1,2,61,3
3,0.0,0.0,0.0,0.0,0.0,15.0,1,2,36,5
4,1.0,2.0,1.0,1.0,1.0,12.0,1,1,28,5

In [21]:
data.head()

,Q3_Q3_A_R,Q3_Q3_B_R,Q3_Q3_C_R,Q3_Q3_D_R,Q3_Q3_E_R,Q4_HIGHEST_EDU_FOS,Q9_CERT_LIC,Q45_GENDER,Q47_AGE,Q46_MARITAL_STATUS
0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,48,1
1,0.0,0.0,0.0,0.0,0.0,1.0,1,2,50,3
2,0.0,0.0,0.0,0.0,0.0,0.0,1,2,61,3
3,0.0,0.0,0.0,0.0,0.0,15.0,1,2,36,5
4,1.0,2.0,1.0,1.0,1.0,12.0,1,1,28,5

In [22]:
data = pd.get_dummies(data)

In [23]:
feature_names = data.columns

In [24]:
target = df["Q39_EARNINGS"]

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [26]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.2060491493383743

In [27]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.22117202268431002

In [28]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.4796147394934937, 'Q47_AGE'),
 (0.2685359564588982, 'Q4_HIGHEST_EDU_FOS'),
 (0.079609916005201, 'Q46_MARITAL_STATUS'),
 (0.034757533528948364, 'Q9_CERT_LIC'),
 (0.029496939773349617, 'Q45_GENDER'),
 (0.029273399553132934, 'Q3_Q3_A_R'),
 (0.023180929451687433, 'Q3_Q3_C_R'),
 (0.0216913650084288, 'Q3_Q3_B_R'),
 (0.017593931878496494, 'Q3_Q3_D_R'),
 (0.01624528884836329, 'Q3_Q3_E_R')]

In [ ]:
data1 = df.drop(['PUF_ID','final_weight','STRATUM1','LANG','Q39_EARNINGS','Q49_RACE_07','Q15_D_SPECIFY_FLAG','Q34_A','Q30_APP_CERT_LIC','Q31_APP_CERTIFICATE','Q34_C', 'Q29_Q29_B_R','Q29_Q29_C_R','Q29_Q29_E_R', 'Q29_Q29_A_R', 'Q29_Q29_D_R','Q9_CERT_LIC', 'Q49_RACE_05', 'Q15_D_SPECIFY_FLAG'], axis=1)