In [1]:
import pandas as pd
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine 
from sqlalchemy.orm import Session
from sqlalchemy import Column, Float, Integer, String

In [10]:
# Import clean data into dataframes
HS_graduates_by_state_df = pd.read_csv('../Resources/EnrollmentByState/PublicHSGraduatesByState_Clean.csv')
HS_graduates_by_state_df.head()

,State,Y2008_09,Y2009_10,Y2010_11,Y2011_12,Y2012_13,Y2013_14,Y2014_15,Y2015_16
0,Alabama,42082,43166,46035,45394,44233,44540,45420,46070
1,Alaska,8008,8245,8064,7989,7860,7720,7860,7840
2,Arizona,62374,61145,64472,63208,62208,66700,67200,67120
3,Arkansas,28057,28276,28205,28419,28928,29610,30350,30290
4,California,372310,404987,410467,418664,422125,424080,422830,419190

In [9]:
HS_graduates_by_state_df.dtypes

Y2008_09    int64
Y2009_10    int64
Y2010_11    int64
Y2011_12    int64
Y2012_13    int64
Y2013_14    int64
Y2014_15    int64
Y2015_16    int64
dtype: object

In [3]:
# Create database connection
Base = declarative_base()
engine = create_engine("sqlite:///project_2.sqlite")
conn = engine.connect()

In [4]:
# Define classes
class HS_Graduates(Base):
    __tablename__ = 'HSGraduates'
    id = Column(Integer, primary_key=True)
    State = Column(String(255))
    Y2008_09 = Column(Integer)
    Y2009_10 = Column(Integer)
    Y2010_11 = Column(Integer)
    Y2011_12 = Column(Integer)
    Y2012_13 = Column(Integer)
    Y2013_14 = Column(Integer)
    Y2014_15 = Column(Integer)
    Y2015_16 = Column(Integer)

In [5]:
# Create both the tables within the database
Base.metadata.create_all(conn)

In [8]:
# Populate the Measurements table from the dataframe
HS_graduates_by_state_df.to_sql('HSGraduates', con=conn, index_label='id', if_exists='append')

IntegrityError: (sqlite3.IntegrityError) datatype mismatch [SQL: 'INSERT INTO "HSGraduates" (id, "Y2008_09", "Y2009_10", "Y2010_11", "Y2011_12", "Y2012_13", "Y2013_14", "Y2014_15", "Y2015_16") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: (('Alabama', 42082, 43166, 46035, 45394, 44233, 44540, 45420, 46070), ('Alaska', 8008, 8245, 8064, 7989, 7860, 7720, 7860, 7840), ('Arizona', 62374, 61145, 64472, 63208, 62208, 66700, 67200, 67120), ('Arkansas', 28057, 28276, 28205, 28419, 28928, 29610, 30350, 30290), ('California', 372310, 404987, 410467, 418664, 422125, 424080, 422830, 419190), ('Colorado', 47459, 49321, 50122, 50087, 50968, 51310, 51450, 53310), ('Connecticut', 34968, 34495, 38854, 38681, 38722, 37860, 37160, 37420), ('Delaware', 7839, 8133, 8043, 8247, 8070, 8240, 8390, 8480)  ... displaying 10 of 51 total bound parameter sets ...  ('Wisconsin', 65410, 64687, 64135, 62705, 61425, 60810, 60460, 60710), ('Wyoming', 5493, 5695, 5600, 5553, 5489, 5590, 5550, 5700))] (Background on this error at: http://sqlalche.me/e/gkpj)